body{
	padding:0px;
	margin:0px;
	height:100%;
}
.head{
	height:120px;
	background-color:#FEDD42;
}

.header{
	margin:0 14% 0px 15%;
	height:120px;
}
p2{
	font-family: Arial; 
    font-size: 16pt;
	font-weight: 500;
	color: #EF3527;
}

p3{
	font-family: Arial; 
    font-size: 16pt;
	font-weight: 500;
	color: #717625;
}

p10{
	font-family: Arial; 
    font-size: 12pt;
	font-weight: 500;
	color: #00008b;
	text-decoration: underline;
}

.me{
	padding-top:30px;
	float: right;
    width: 745px; 
	height:90;
}

/* МЕНЮ */
#menu {
	padding: 0;
	margin: 0;
	font-size: 10pt;
	font-family: Arial;
	font-weight: 600;
}
#menu li {
	list-style: none;
	float: left;
	height: 33px;
	padding: 0;
	margin: 0;
	width: 149px;
	text-align: center;
	position: relative;
	padding-top: 12px;
}
#menu li ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 150px;
	display: none;
	position: absolute;
	left: 0;
	top: 45px;
}
#menu li ul li {
	float: none;
	height: 33px;
	margin: 0;
	width: 150px;
	background: yellow;
	text-align: left;
}
#menu li a {
	display: block;
	width: 150px;
	height: 33px;
	
}
#menu li:hover ul, #menu li.jshover ul {
	display: block;
}
a{
	color:black;
}
a:hover {
    color: red; /* Цвет ссылки при наведении на нее курсора мыши */  
}
/* МЕНЮ */


.dinamikponel{
	padding-top:25px;
	margin:0px 8% 0px 8%;
	height:340px;
}

#scr {
	width: 100%;
	height: 320px;
	background-color: white;
	background-size:780px 330px;	
}
.cals{
	margin:0 13% 0px 17%;
	float: left;
}

.inf{
	float:left;
	width: 600px;
	height: 600px;
}

.news{
	float:right;
	width: 290px;
	height: 600px;
}
p4{
	font-family: Arial; 
    font-size: 12pt;
	font-weight: 500;
	color: black;
}


.osn{
	padding:0px;
	height:270px;
}	
.sign {
    float: left; /* Выравнивание по правому краю */
    border: 1px solid #BDBDBD; /* Параметры рамки */
    padding: 5px; /* Поля внутри блока */
    margin: 5px 0px 5px 2px ; /* Отступы вокруг */
    box-shadow: 0 0 5px rgba(0,0,0,0.5);/ 
}
.sign figcaption {
	
    margin: 0 auto 1px; /* Отступы вокруг абзаца */
	text-align:center;
	font-weight: 600;

}

.footer{
	background-color:#FEDD42;
	width: 100%;
	height:130px;
	float: left;
}
.foot{
	margin:0 13% 0px 17%;
	padding-top:30px;
	width: 670px;
	height:100px;
}

.cont_inf{
	float:left;
	padding:0px;
	margin:0px;
	width: 635px;
}
.pb{
	padding-top:10px;
	float:right;
	width: 294;
	height:500px;
}

.tarif_komplecs{
	float:left;
	padding-top:12px;
	width: 650px;
	
}
z{
	color:red;
}
.pro{
	float:right;
	padding-top:15px;
	width: 290px;
	height:900px;
}
p6{
	font-family: Arial; 
    font-size: 14pt;
	font-weight: 500;
	color: black;
}
p7{
	font-family: Arial; 
    font-size: 12pt;
	font-weight: 500;
	color: black;
}
.ne{
	background:#FEDD42;
	padding: 3px 7px;
    color: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #666;
	height:50px;
	width:150px;
}
.otz{
	float:left;
	width:650px;
	height:950px;
	background-color:white;
}

.forma_rascheta{
	float:left;
	padding-top:15px;
	padding-left:20px;
	width:600px;
	height:450px;
}
select{
	background-color:#FEDD42;
	width: 250px;
	height: 40px;
	border:none;
	font-family: Times New Roman; 
    font-size: 12pt;
	font-weight: 500;
}
input[type="submit"]{
	background-color:#FEDD42;
	width: 100px;
	height: 40px;
	font-family: Times New Roman; 
    font-size: 12pt;
}

input[type="text"]{
	width: 40px;
	height: 40px;
	text-align:center;
	font-family: Times New Roman; 
    font-size: 12pt;
}

.tarif_rascheta{
	float:left;
	width: 280px;
	height: 90px;
}
.nalog_raschet{
	float:right;
	width: 280px;
	height: 90px;
}	
.kol_vo_oper{
	padding-top:15px;
	float:left;
	width: 280px;
	height: 50px;
}
.ras{
	padding-top:15px;
	float:right;
	width: 280px;
	height: 50px;
}
.summa{
	float:left;
	width: 320px;
	height: 85px;
}
.kol_vo_rab{
	float:left;
	width: 170px;
	height: 85px;
}

.osn2{
	float: right;
	padding-top:15px;
	padding-right:15px;
	width:250px;
	height:600px;
}
.sign2 {
    float: right; /* Выравнивание по правому краю */
    border: 1px solid #BDBDBD; /* Параметры рамки */
    padding: 5px; /* Поля внутри блока */
    margin: 1px 0px 1px 2px ; /* Отступы вокруг */
    box-shadow: 0 0 5px rgba(0,0,0,0.5);/ 
}
.sign2 figcaption {
	
    margin: 0 auto 1px; /* Отступы вокруг абзаца */
	text-align:center;
	font-weight: 400;
}
.gh{
	float:left;
	width:650px;
	height:480px;
}

.cals_zayavka{
	margin:0 13% 0px 17%;
	height:500px;
	
}

input[type="text2"]{
	width: 330px;
	height: 40px;
	text-align:center;
	font-family: Times New Roman; 
    font-size: 12pt;
}
.z{
	float:left;
	padding-left:150px;
	width:350px;
	height:480px;
}

p8{
	color:red;
}

.im{
	float:left;
	width:383px;
	height:486px;
}

.konsult{
	float:right;
	background:#FEDD42;

    color: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #666;
	height:25px;
	width:170px;
}
.kons{
	float:right;
	width:160px;
	height:40px;	
}






